@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Nunito:wght@200;300;400;600&family=Roboto:wght@400;500;700;900&display=swap");
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 10%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
#header .logo {
  flex: 1;
}
#header .logo img {
  width: 130px;
}
#header .fa-bars {
  font-size: 1.5rem;
  color: orange;
  cursor: pointer;
  padding: 0.5rem;
  display: none;
}
#header .navbar {
  display: flex;
  margin-right: 2rem;
}
#header .navbar li {
  position: relative;
  line-height: 40px;
  margin-right: 1rem;
}
#header .navbar li a {
  display: block;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
}
#header .navbar li a i {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}
#header .navbar li a:hover {
  color: orange;
  transition: all 0.2s ease;
}
#header .navbar li:hover .navbar-item {
  display: initial;
  transition: all 0.2s ease;
  top: 100%;
}
#header .navbar .navbar-item {
  position: absolute;
  background: #fff;
  top: -100%;
  left: 0;
  width: 150px;
  z-index: -1;
  display: none;
}
#header .navbar .navbar-item li {
  width: 100%;
}
#header .navbar .navbar-item li a {
  display: block;
  font-size: 1.1rem;
  font-weight: normal;
}
#header .navbar .navbar-item li a:hover {
  color: orange;
  background: #f1dfc9;
  transition: all 0.2s ease;
}
#header .icons i {
  font-size: 1.3rem;
  margin-right: 0.5rem;
  transition: 1s;
}
#header .icons i:hover {
  transform: scale(1.4);
}

@media screen and (max-width: 1024px) {
  #header .fa-bars {
    display: block;
    margin-right: 10px;
  }
  #header .fa-times {
    transform: rotate(180deg);
  }
  #header .navbar {
    position: absolute;
    top: 100%;
    left: -100rem;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  #header .navbar li {
    text-align: center;
    width: 100%;
  }
  #header .navbar li a {
    font-weight: normal;
    font-size: 1.1rem;
  }
  #header .navbar li a:hover {
    color: orange;
    background: #f1dfc9;
    transition: all 0.2s ease;
  }
  #header .navbar li .navbar-item {
    position: relative;
  }
  #header .navbar li .navbar-item li {
    width: 100%;
    text-align: center;
  }
  #header .navbar li .navbar-item li a {
    font-weight: normal;
    font-size: 1.1rem;
  }
  #header .navbar li .navbar-item .active {
    display: initial;
  }
  #header .nav-toggle {
    left: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #header {
    padding: 0.5rem 5%;
  }
  #header .logo img {
    width: 160px;
  }
  #header .navbar li {
    line-height: 60px;
  }
  #header .navbar li a {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 767px) {
  #header {
    padding: 0.5rem 3%;
  }
  #header .logo img {
    width: 100px;
  }
  #header .fa-bars {
    margin-right: 2rem;
  }
  #header .navbar li a {
    font-size: 1rem;
  }
  #header .navbar li .navbar-item li a {
    font-size: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }
}
#home-slider {
  position: relative;
  min-height: 100vh;
}
#home-slider .slider {
  position: relative;
  top: 12vh;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
#home-slider .slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  cursor: pointer;
}
#home-slider .slider .slide.current {
  opacity: 1;
}
#home-slider .slider .slide:first-child {
  background: url("/assets/img/istockphoto-1345730197-170667a.jpg") no-repeat center center/cover;
}
#home-slider .slider .slide:nth-child(2) {
  background: url("/assets/img/pexels-photo-1480520.jpeg") no-repeat center center/cover;
}
#home-slider .slider .slide:nth-child(3) {
  background: url("/assets/img/pexels-photo-2247179.jpeg") no-repeat center center/cover;
}
#home-slider .slider .slide:nth-child(4) {
  background: url("/assets/img/pexels-victor-freitas-841130.jpg") no-repeat center center/cover;
}
#home-slider .slider .slide .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 600px;
}
#home-slider .buttons button {
  background: #313030;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  outline: none;
  border-radius: 5px;
  border: none;
}
#home-slider .buttons button#next {
  position: absolute;
  top: 50%;
  right: 15px;
}
#home-slider .buttons button#prev {
  position: absolute;
  top: 50%;
  left: 15px;
}
#home-slider .buttons button:hover {
  background-color: orange;
  color: #333;
  transition: 0.2s ease-in-out;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  outline: none;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

/*# sourceMappingURL=output.css.map */
