@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Nunito:wght@200;300;400;600&family=Roboto:wght@400;500;700;900&display=swap");
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 10%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
#header .logo {
  flex: 1;
}
#header .logo img {
  width: 130px;
}
#header .fa-bars {
  font-size: 1.5rem;
  color: orange;
  cursor: pointer;
  padding: 0.5rem;
  display: none;
}
#header .navbar {
  display: flex;
  margin-right: 2rem;
}
#header .navbar li {
  position: relative;
  line-height: 40px;
  margin-right: 1rem;
}
#header .navbar li a {
  display: block;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
}
#header .navbar li a i {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}
#header .navbar li a:hover {
  color: orange;
  transition: all 0.2s ease-in-out;
}
#header .navbar li:hover .navbar-item {
  display: initial;
  transition: all 0.2s ease-in-out;
  top: 100%;
}
#header .navbar .navbar-item {
  position: absolute;
  background: #fff;
  top: -100%;
  left: 0;
  width: 150px;
  z-index: -1;
  display: none;
}
#header .navbar .navbar-item li {
  width: 100%;
}
#header .navbar .navbar-item li a {
  display: block;
  font-size: 1.1rem;
  font-weight: normal;
}
#header .navbar .navbar-item li a:hover {
  color: orange;
  background: #f1dfc9;
  transition: all 0.2s ease-in-out;
}
#header .icons i {
  font-size: 1.3rem;
  margin-right: 0.5rem;
  transition: 1s;
}
#header .icons i:hover {
  transform: scale(1.4);
}

@media screen and (max-width: 1024px) {
  #header .fa-bars {
    display: block;
    margin-right: 10px;
  }
  #header .fa-times {
    transform: rotate(180deg);
  }
  #header .navbar {
    position: absolute;
    top: 100%;
    left: -100rem;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  #header .navbar li {
    text-align: center;
    width: 100%;
  }
  #header .navbar li a {
    font-weight: normal;
    font-size: 1.1rem;
  }
  #header .navbar li a:hover {
    color: orange;
    background: #f1dfc9;
    transition: all 0.2s ease-in-out;
  }
  #header .navbar li .navbar-item {
    position: relative;
  }
  #header .navbar li .navbar-item li {
    width: 100%;
    text-align: center;
  }
  #header .navbar li .navbar-item li a {
    font-weight: normal;
    font-size: 1.1rem;
  }
  #header .navbar li .navbar-item .active {
    display: initial;
  }
  #header .nav-toggle {
    left: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #header {
    padding: 0.5rem 5%;
  }
  #header .logo img {
    width: 160px;
  }
  #header .navbar li {
    line-height: 60px;
  }
  #header .navbar li a {
    font-size: 1.1rem;
  }

  .slide .content {
    line-height: 30px !important;
  }
  .slide .content h1 {
    font-size: 2.5rem !important;
    margin-bottom: 0;
  }
  .slide .content h2 {
    font-size: 1.1rem !important;
  }
  .slide .content .btn-1 {
    margin-top: 10px !important;
    font-size: 0.8rem !important;
  }

  .btn, .btn-bottom, #home-slider .slider .slide .content .btn-1 {
    width: 180px !important;
  }
}
@media screen and (min-width: 501px) and (max-width: 767px) {
  #header {
    padding: 0.5rem 3%;
  }
  #header .logo img {
    width: 100px;
  }
  #header .fa-bars {
    margin-right: 2rem;
  }
  #header .navbar li a {
    font-size: 1rem;
  }
  #header .navbar li .navbar-item li a {
    font-size: 1rem;
  }

  .slide .content {
    line-height: 30px !important;
  }
  .slide .content h1 {
    font-size: 2.5rem !important;
    margin-bottom: 0;
  }
  .slide .content h2 {
    font-size: 1.1rem !important;
  }
  .slide .content .btn-1 {
    margin-top: 10px !important;
    font-size: 0.8rem !important;
  }

  .btn, .btn-bottom, #home-slider .slider .slide .content .btn-1 {
    width: 180px !important;
  }

  #home-cards .cards-container {
    top: 20px !important;
  }
  #home-cards .cards-container .card img {
    width: 100% !important;
  }
}
@media screen and (max-width: 500px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }

  #home-cards .cards-container {
    top: 0;
    gap: 10px;
  }
  #home-cards .cards-container .card img {
    width: 100%;
  }

  .slide .content {
    line-height: 20px !important;
  }
  .slide .content h1 {
    font-size: 1.5rem !important;
    margin-bottom: 0;
  }
  .slide .content h2 {
    font-size: 0.6rem !important;
  }
  .slide .content .btn-1 {
    margin-top: 10px !important;
    color: #fff;
    font-size: 0.5rem !important;
  }

  .btn, .btn-bottom, #home-slider .slider .slide .content .btn-1 {
    width: 160px !important;
  }

  #home-cards .cards-container {
    top: 20px !important;
  }
  #home-cards .cards-container .card img {
    width: 100% !important;
  }
}
#home-slider {
  position: relative;
  min-height: 100vh;
}
#home-slider .slider {
  position: relative;
  top: 100%;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
#home-slider .slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  cursor: pointer;
  z-index: -1;
}
#home-slider .slider .slide.current {
  opacity: 1;
}
#home-slider .slider .slide:first-child {
  background: url("/assets/img/pexels-photo-2247179.jpeg") no-repeat center center/cover;
}
#home-slider .slider .slide:first-child::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(128, 128, 128, 0.8);
  z-index: -1;
}
#home-slider .slider .slide:nth-child(2) {
  background: url("/assets/img/pexels-photo-1480520.jpeg") no-repeat center center/cover;
}
#home-slider .slider .slide:nth-child(3) {
  background: url("/assets/img/pexels-victor-freitas-841130.jpg") no-repeat center center/cover;
}
#home-slider .slider .slide .content {
  position: absolute;
  top: 40%;
  left: 20%;
  width: 1000px;
  z-index: 1;
  line-height: 60px;
}
#home-slider .slider .slide .content h1 {
  font-size: 4.2rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 0.5rem;
}
#home-slider .slider .slide .content h2 {
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
}
#home-slider .slider .slide .content .btn-1 {
  margin-top: 1rem;
  background-color: #ff8800;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
}
#home-slider .slider .slide .contact {
  position: absolute;
  color: #fff;
  bottom: 10vh;
  right: 20vw;
  text-align: end;
}
#home-slider .slider .slide .contact p {
  font-weight: 500;
  margin-bottom: 0.5rem;
}
#home-slider .slider .slide .contact p i {
  margin-right: 1rem;
  font-size: 1.3rem;
}
#home-slider .slider .video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
#home-slider .buttons button {
  background: #313030;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  outline: none;
  border-radius: 5px;
  border: none;
}
#home-slider .buttons button#next {
  position: absolute;
  top: 50%;
  right: 15px;
}
#home-slider .buttons button#prev {
  position: absolute;
  top: 50%;
  left: 15px;
}
#home-slider .buttons button:hover {
  background-color: orange;
  color: #333;
  transition: all 0.2s ease-in-out;
}

.btn-bottom {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 1.1rem;
  color: black;
  font-weight: bold;
  background-color: #ff8800;
}
.btn-bottom:hover {
  background: #4e4b4b;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

#home-cards {
  min-height: 60vh;
  position: relative;
  margin: 0 20px;
}
#home-cards .cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  position: relative;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}
#home-cards .cards-container .card {
  position: relative;
  width: 400px;
  height: 300px;
  transition: 1s;
  flex: 1 1 220px;
}
#home-cards .cards-container .card img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
#home-cards .cards-container .card:hover {
  transform: scale(1.1);
}
#home-cards .cards-container .card .info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
#home-cards .cards-container .card .info h1 {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
}
#home-cards .cards-container .card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(128, 128, 128, 0.5);
}

.form-bg {
  background: #ff8800;
  width: 100%;
}
.form-bg .form {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
}
.form-bg .form .input {
  display: inline-flex;
  flex-wrap: wrap;
}
.form-bg .form .input input {
  background: none;
  padding: 0 50px 0 15px;
  border: 1px solid #fff;
  margin-right: 15px;
  outline: none;
}
.form-bg .form .input input::placeholder {
  color: #ddd1d1;
  font-size: 16px;
  letter-spacing: 0.6px;
}
.form-bg .form .input a {
  padding: 10px 60px;
  background: #fff;
  color: #ff8800;
  font-size: 20px;
  font-weight: 600;
}
.form-bg .form .text {
  color: #fff;
}
.form-bg .form .text p {
  font-size: 20px;
}
.form-bg .form .text h1 {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  outline: none;
  position: relative;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

.btn, #home-slider .slider .slide .content .btn-1, .btn-bottom {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0.7rem 2rem;
  width: 220px;
  text-align: center;
}

/*# sourceMappingURL=output.css.map */
