#home-cards{
    min-height: 60vh;
    position: relative;
    margin: 0 20px;
    overflow-x: hidden;
    
    .cards-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        gap: 30px;
        top: -30px;

        .card{
            width: 420px;
            height: 320px;
            flex: 1 0 200px;
            position: relative;
            cursor: pointer;
            
            .image{
            width: 100%;
            height: 100%;
            overflow: hidden;

                img{
                    transition: transform 2s ease-in-out;
                }
            }
            
            &:hover img{
                transform: scale(1.3);
            }

            .info{
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                background: rgba(black, 0.4);

                h1{
                    color: #fff;
                    font-size: 2.2rem;
                    font-weight: 600;
                    text-align: center;
                    transition: transform 2s;
                }
                
            }

            &:hover h1{
                transform: scale(.8 );
            }

        }
    }
}

@media(max-width: 1023px){
    #home-cards{  
        min-height: 100vh;     
        .cards-container{
            .card{
                .info{
                    h1{
                        font-size: 1.4rem;
                    }   
                }
            }
        }
    }
}

@media(max-width: 767px){
    #home-cards{
        margin: 0 10px;
        .cards-container{
            flex-flow: column;
           top: 10px;

            .card{
                width: 100%;
               
                .info{
                    h1{
                        font-size: 2rem;
                    }   
                }
            }
        }
    }
}
