#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 10%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);

    .logo{
        flex: 1;
        img{
            width: 130px;
        }
    }

    .fa-bars{
        font-size: 1.5rem;
        color: $background;
        cursor: pointer;
        padding: .5rem;
        display: none;
    }

    .navbar{
        display: flex;
        li{   
            position: relative;
            margin-right: 1.5rem;
            line-height: 40px;

            a{
                display: block;
                width: 100%;
                padding: .5rem;
                font-size: 1.2rem;
                font-weight:700;

                i{
                    font-size: .9rem;
                    margin-left: .5rem;
                }

                &:hover{
                    color: $background;
                    @include ease;
                }
            }

            &:hover .navbar-item{
               display: initial;
            }
        }

        .navbar-item {
            position: absolute;
            background: #fff;
            top: 100%;
            left: 0;
            width: 100%;
            display: none;

            li{
                width: 100%;
                a{
                    width: 100%;
                    display: block; 
                    font-size: 1.1rem;
                    font-weight: normal;

                    &:hover{
                        color: $background;
                        background: rgb(241, 223, 201);
                        @include ease;
                    }
                }
            }
        }
    }

    .icons{
        i{
            font-size: 1.3rem;
            margin-right: .5rem;
            transition: 1s;

            &:hover{
                transform: scale(1.4)
            }
        }
    }
}