//Widescreens
@include mediaXl{
    #header{
        .fa-bars{
            display: block;
            margin-right: 10px;
        }

        .fa-times{
            transform: rotate(180deg);
        }

        .navbar{
            position: absolute;
            top: 100%;
            left: -100rem;
            right: 0;
            background-color: rgba(255, 255, 255,0.9);
            width: 100%;
            flex-flow: column;           
            justify-content: center;
            align-items: center;

            li{ 
                text-align: center;
                width: 100%;
                a{
                    font-weight: normal;
                    font-size: 1.1rem;

                    &:hover{
                        color: $background;
                        background: rgb(241, 223, 201);
                        @include ease;
                    }
                }

                .navbar-item{
                   position: relative;
                   li{
                      width: 100%;
                      text-align: center;

                      a{
                        font-weight: normal;
                        font-size: 1.1rem;
                        }
                    }
                    .active{
                        display: initial;
                    }
                }   
            }
        }
         .nav-toggle{
            left: 0;
        }

    }

}

//Desktops & Laptops
@include mediaLg{
    #header{
        padding: 0.5rem 5%;
        .logo{
            img{
                width: 160px;
            }
        }
        .navbar{
            li{
                line-height: 60px;
                a{
                    font-size: 1.1rem;
                }
            }
        }   
    }

    .slide{
        .content{
            line-height: 30px !important;
            h1{
                font-size: 2.5rem !important;
                margin-bottom: 0;
            }
            h2{
                font-size: 1.1rem !important;
            }

            .btn-1{
                margin-top: 10px !important;
                font-size: .8rem !important;

            }
        }
    }

    .btn{
        width: 180px !important;
     }
}

//Tablets & Small Laptops
@include mediaMd{
    #header{
        padding: 0.5rem 3%;
        .logo{
            img{
                 width: 100px;
            }
        }

        
    .fa-bars{
        margin-right: 2rem;
    }
        .navbar{
            li{
                a{
                    font-size: 1rem;
                }
                .navbar-item{
                    li{
                        a{
                            font-size: 1rem;
                        }
                    }
                }
            }
        }  
    }

    .slide{
        .content{
            line-height: 30px !important;
            h1{
                font-size: 2.5rem !important;
                margin-bottom: 0;
            }
            h2{
                font-size: 1.1rem !important;
            }

            .btn-1{
                margin-top: 10px !important;
                font-size: .8rem !important;

            }
        }
    }

    .btn{
        width: 180px !important;
     }

    #home-cards{
        .cards-container{
            top: 20px !important;

            .card img{
                width: 100% !important;
            }
        }
    }
}
//Smartphones
@include mediaSm{
    .slide{
        .content{
            bottom: -300px;
            left: 0;
            width: 100%;
        }
    }

    #home-cards{
        .cards-container{
            top: 0;
            gap: 10px;

            .card img{
                width: 100%;
            }
        }
    }
    .slide{
        .content{
            line-height: 20px !important;
            h1{
                font-size: 1.5rem !important;
                margin-bottom: 0;
            }
            h2{
                font-size: .6rem !important;
            }

            .btn-1{
                margin-top: 10px !important;
                color: #fff;
                font-size: .5rem !important;

            }
        }
    }

    .btn{
        width: 160px !important;
     }

     #home-cards{
        .cards-container{
            top: 20px !important;
    

            .card img{
                width: 100% !important;
            }
        }
    }

}