@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Nunito:wght@200;300;400;600&family=Roboto:wght@400;500;700;900&display=swap');
@import 'config';
@import 'header';
@import 'mobile';
@import 'slider';
@import 'cards';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    color: $bg-color;
    outline: none;
    position: relative;
    overflow-x: hidden;
}

 a{
     text-decoration: none;
     color: $bg-color;
 }

 ul{
     list-style: none;
 }

 .btn{
    cursor: pointer;
    outline: none;
    border: none;
    padding: 0.7rem 0;
    width: 220px;
    text-align: center;
 }


