#home-slider{
    position: relative;
    min-height: 100vh;

   .slider{
       position: relative;
       top: 100%;
       left: 0;
       height: 100vh;
       width: 100vw;
       overflow: hidden;
      

       .slide{
           position: absolute;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
           opacity: 0;
           transition: opacity .4s ease-in-out;
           cursor: pointer;
           z-index: -1;

           &.current{
               opacity: 1;
           }

           &:first-child{
            background: url('/assets/img/pexels-photo-2247179.jpeg') no-repeat center center/cover;

            &::after{
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background: rgba(gray, 0.8);
                z-index: -1;
            }
            
    
           }
            &:nth-child(2){
            background: url('/assets/img/pexels-photo-1480520.jpeg') no-repeat center center/cover;
            }

            &:nth-child(3){
                background: url('/assets/img/istockphoto-1345730197-170667a.jpg') no-repeat center center/cover;
            }

            &:nth-child(4){
                background: url('/assets/img/pexels-victor-freitas-841130.jpg') no-repeat center center/cover;
            }
    
           .content{
               position: absolute;
               top: 40%;
               left: 20%;
               width: 1000px;
               z-index: 1;
               line-height: 60px;

               h1{
                   font-size: 4.2rem;
                   font-weight: 700;
                   color: #fff;
                   margin-bottom: 0.5rem;
               }

               h2{
                    font-size: 1.8rem;
                    font-weight: 500;
                    color: #fff;
               }
               .btn-1{
                   @extend .btn;
                   margin-top: 1rem;
                   background-color: rgb(255, 136, 0);
                   color: #fff;
                   font-size: 1.4rem;
                   font-weight: 500;
               }
           }

           .contact{
               position: absolute;
               color: #fff;
               bottom: 10vh;
               right: 20vw;
               text-align: end;

               p{
                   font-weight: 500 ;
                   margin-bottom: .5rem;

                   i{
                       margin-right: 1rem;
                       font-size: 1.3rem;
                   }
                
               }

           }
       }
   }

   .buttons button{
       background: rgb(49, 48, 48);
       color: #fff;
       cursor: pointer;
       padding: 13px 15px;
       outline: none;
       border-radius: 5px;
       border: none;

       &#next{
        position: absolute;
        top: 50%;
        right: 15px;
       }
 
        &#prev{
        position: absolute;
        top: 50%;
        left: 15px;
       }

       &:hover{
        background-color: orange;
        color: #333;
        @include ease;
       }
    }
}

.btn-bottom{
    @extend .btn;
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 1.1rem;
    color: black;
    font-weight: bold;
    background-color: rgb(255, 136, 0);

    &:hover{
        background: rgb(78, 75, 75);
        color: #fff;
        @include ease;
    }
}